<<<<<<< HEAD
.software {
    background-image: url("software.png");
=======

.software {
	background-image: url("software.png"); 
	background-repeat: no-repeat;
	height: 240px;
	width: 128px;
}

@media screen and (max-width: 1200px) {
	.software {
		background-position: -127px 0px;
	}
}

@media screen and (max-width: 1100px) {
	.software{
		background-position: -254px 0px;
	}
}

@media screen and (max-width: 1000px) {
	.software{
		background-position: -381px 0px;
	}
}

@media screen and (max-width: 900px) {
	.software{
		background-position: -507px 0px;
	}
}

@media screen and (max-width: 800px) {
	.software{
		background-position: 0px -238px;
	}
}

@media screen and (max-width: 700px) {
	.software {
		background-position: -127px -238px;
	}
}

@media screen and (max-width: 600px) {
	.software{
		background-position: -254px -238px;
	}
}

@media screen and (max-width: 500px) {
	.software{
		background-position: -381px -238px;
	}
}

@media screen and (max-width: 400px) {
	.software{
		background-position: -507px -238px;
	}
>>>>>>> 24ab6fc7aa487933e6d4b4a1ad1e950ef4c354ae
}